<p>Book was successfully created.</p>

	<p><span>Title:</span><%= @list.title %></p>

	<p><span>Body:</span><%= @list.body %></p>

<%= link_to "edit", edit_todolist_path(@list.id) %>
<%= link_to "back", todolists_path(@list.id) %>